.input {
  width: 300px;
  height: 40px;
  border-radius: 16px;
  border: 1px solid #b7b7b7;
  outline: none;

  padding: 14px 20px;
  padding-left: 30px;
  background-color: #e0fbfc;

  &::placeholder {
    font-size: 16px;
    font-weight: 500;
  }

  &[type="text"] {
    background-image: url("../../assets/input_text-logo.svg");
    background-repeat: no-repeat;
    background-size: 14px 14px;
    background-position: left 10px center;
  }

  &[type="email"] {
    background-image: url("../../assets/input_user-logo.svg");
    background-repeat: no-repeat;
    background-size: 14px 14px;
    background-position: left 10px center;
  }

  &[type="password"] {
    background-image: url("../../assets/input_pass-logo.svg");
    background-repeat: no-repeat;
    background-size: 14px 14px;
    background-position: left 10px center;
  }
}
