.button {
    width: 80%;
    height: 120px;
    border: 2px solid;
    border-radius: 20px;
    border-color: #6BD7DB;
    padding: 10px;
    background-color: #EFEFEF;
    color: #293241;
    font-size: 32px;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    outline: none;
    overflow-wrap: break-word;
    transition: border-color 0.3s ease;
    margin: 15px;
    display: block;
    text-align: left;
}

.button:hover,
.button:focus {
    border-color: #FF5D17; /* цвет границы при наведении и фокусе */
}

.button:active {
    border-color: #ccc; /* цвет границы при нажатии */
}
