.btn {
  padding: 10px 27px;
  background-color: #EE6C4D;
  color: #ffffff;
  font-weight: 700;
  font-size: 20;
  font-weight: 500;
  border-radius: 12px;
  transition: background-color .3s ease-in-out;

  &:hover {
    background-color: #F29078;
  }
}
