.exet
{
  font-size: 15px;
  color:  #FF5D17;
  margin-top: 200px;
  margin-left: 10px;
}
.back
{
  background-color: rgb(190, 190, 190);
  border-radius: 20px;
  padding-left: 20px;
  padding-top: 25px;
  width: 320px;
  height: 800px;
  margin-top: 50px;
}
.text
{
  margin-top: 15px;
  margin-left: 10px;
}
.const
{
  margin-top: 50px;
  font-weight: 850;
  color: rgb(81, 81, 182) ;
}
