.section-title {
  font-size: 45px;
  margin-bottom: 20px;
}
.form-feedback {
  display: flex;
  padding: 20px;
  border-radius: 20px;
  width: 100%;
  height: 230px;
  background-color: #75b9e3;

  &_right {
    width: 49%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  &__input {
    border-radius: 15px;
    font-size: 12px;
    width: 100%;
    height: 50px;
    padding: 10px 30px;
  }

  &__textarea {
    float: inline-end;
    width: 49%;
    height: 100%;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-left: 15px;
    border-radius: 15px;
    resize: none;
  }

  &__btn {
    padding: 10px;
    border-radius: 20px;
    background-color: white;
  }
}
