.back
{
    background-color: rgb(103, 170, 247) ;
    width: 250px;
    height: 300px;
    margin-left: 50px;
    border-radius: 20px;
    margin-top: 50px;
}
.text
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    font-size: 15px;
    line-height: 28px;
   
}
.text2
{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 28px;
    
}
.text3
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}