.frame{
    width: 250px;
    height: 300px;
    margin-left: 50px;
    border-radius: 20px;
    margin-top: 50px;
    display:inline-block;
    border:1px solid rgb(0, 0, 0);
    position:relative;
    
}
.frame > img{
    max-width:100%;
    max-height:100%;
    width:auto;
    height:auto;
    position:absolute;
    top: -136px; ;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.FIO
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 180px;
    font-size: 15px;
    
}
.text
{
    display: flex;
    padding-left: 10px;
}
.text_bt
{
    background-color: white;
    border: none;
    width: 80px;
    font-size: 12px;
    padding: 5px 0;
    cursor:pointer;
    color: orangered;
}




