.auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 560px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);

  &__title {
    color: #272d4e;
    font-size: 30px;
    font-weight: 500;
  }

  &__logo {
    flex-shrink: 0;
    width: 70px;
  }
}

.btn-back__wrapper {
  position: fixed;
  left: 5px;
  top: 5px;

  button {
    padding-left: 25px;
    font-weight: 400;
    font-size: 20px;
    color: #ee6c4d;
    background-image: url("../../assets/arrow-back.svg");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center left;
  }
}

.form {
  padding: 50px;
  padding-top: 30px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: #98c1d9;
  border-radius: 30px;

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    font-size: 15px;
  }

  &__text {
    font-weight: 700;
  }

  &__btn {
    padding: 0;
    background: none;
    outline: none;
    border: 0;
    border-radius: 0;
    cursor: pointer;
    color: #ee6c4d;
    font-weight: 700;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: #f29078;
    }
  }
}
