
.development {
    width: 1280px;
    display: flex;
    margin: 20px auto;
    gap: 20px;

    div {
        border-radius: 50px;
        background: #EE6C4D;
        color: #efefef;
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        h1 {
            width: 650px;
            font-size: 60px;
            font-weight: 600;
        }

        div {
            margin: 30px auto;
            width: 650px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .white {
                height: 50px;
                width: 60%;
                background: #efefef;
                color: #EE6C4D;
                border-radius: 30px;
                transition: 500ms ease;
            }

            .orange {
                height: 50px;
                border: 1px solid #efefef;
                border-radius: 30px;
                width: 35%;
                transition: 500ms ease;
            }

            button:hover {
                opacity: .8;
            }
        }
    }

    img {
        border-radius: 50px;
    }
}