
.MainContainer{
   display: flex;
   justify-content: center;
}
.Block_1{
    width: 434px;
    height: 205px;
    border-radius: 40px;
    
}
.center{
    margin: 0px 30px 0px 30px;
}
.text{
    color: white;
    font-size: 24px;
    margin: 50px;
}
span{
font-size: 64px;    
}
.color_1{
background: #FFB703;
}
.color_2{
    background: #90C8F5;
}
.color_3{
    background: #2571BC;
}
.disp{
     width: 100px;
}