.header {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #efefef;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__wrapper-center {
  display: flex;
  flex-direction: column;
}

