.header {
    width: 250px;
    height: 250px;
  
    color: dark;

    
    background: #62d0df;
    border-radius: 20px;

    font-family: 'PT Sans';
    font-size: 20px;
    line-height: 25px;

  }
  .text {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
.dd {
  display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.lol{
  display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 17px;
}
 