.form-field {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 4px;
  width: 100%;
}

.form-field__error-text {
  color: red;
  font-size: 12px;
}

.form-field > input {
    width: 300px;
  background-color: #e0fbfc;
  border-radius: 30px;
  font-size: 16px;
  color: rgba($color: #000000, $alpha: 0.6);
  border: 1px solid #b7b7b7;
  padding: 12px 16px;
  padding-left: 30px;
}

.form-field > input {
  &::placeholder {
    font-size: 16px;
    font-weight: 500;
  }
  &[type="text"] {
    background-image: url("../../assets/input_text-logo.svg");
    background-repeat: no-repeat;
    background-size: 14px 14px;
    background-position: left 10px center;
  }

  &[type="email"] {
    background-image: url("../../assets/input_user-logo.svg");
    background-repeat: no-repeat;
    background-size: 14px 14px;
    background-position: left 10px center;
  }

  &[type="password"] {
    background-image: url("../../assets/input_pass-logo.svg");
    background-repeat: no-repeat;
    background-size: 14px 14px;
    background-position: left 10px center;
  }
}

.form-field:focus-within > input {
  outline: none;
  border-color: #98c1d9;
}

