.nav {
  display: inline-flex;
  width: 100%;
}

.nav__list {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.nav__link {
  position: relative;
  color: #272d4e;
  font-size: 20;
  font-weight: 500;
  transition: color .3s ease-in-out;

  &:hover {
    color: #F29078;
  }

  &:active {
    color: #D86246;
  }

}
