.nav {
  display: inline-flex;
  width: 100%;
}

.nav__list {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.nav__list_col {
  flex-direction: column;
}

.nav__link {
  position: relative;
  color: #272d4e;
  font-size: 20;
  font-weight: 500;
  transition: color 0.3s ease-in-out;

  &:hover {
    color: #f29078;
  }

  &:active {
    color: #d86246;
  }
}


@media (max-width: 1024px) {
    .nav__link {
        font-size: 15px;
    }
}